.selectionName {
    font-size: 14px;
    font-weight: bold;
}

.selectionDesc {
    font-size: 10px;
    font-style: italic;
}

.littleResultsBox{
    display: inline-block;
    outline: solid;
    margin-left:10px;
}
.irvRound{
    margin-left:20px;
    margin-bottom: 20px;
}
.irvRound p, .irvRound h6{
    margin-bottom:0px;
}

.sideStack{
    display: inline-block;
    margin-left:10px;
}