<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <th:block th:fragment="commonIncludes">
        <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    </th:block>

</head>
<body>
    <div th:fragment="header">
        <div><a href="/index" th:href="/index">Home</a></div>
        <div><a href="</div>
    </div>
</body>
</html>