<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Create new Slate</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
    <!-- <link href="/css/forms.css" rel="stylesheet"></link> -->
</head>
<body>
    <div th:replace="navbar"></div>
    <div class="container">
    <h2>New Slate</h2>
    <form action="#" th:action="@{/slate/create}" th:object="${newSlate}" method="post">

        <p>Topic: <input type="text" th:field="*{topic}" /></p>
        <p>Creator: <input type="text" th:field="*{creator}" /></p>
        <p>Selections: </p>
        <div class="row" th:each="selection, selStat : ${newSlate.selections}">
            <div class="fields col-sm">
                <p>Name: <input type="text" th:field="*{selections[__${selStat.index}__].name}"/></p>
                <p>Description: <textarea th:field="*{selections[__${selStat.index}__].description}"/></p>
                <input type="hidden" th:name="selections[__${selStat.index}__].position" th:value="${selStat.index}"/>
            </div>
            <div class="buttons col-sm">
                <button type="submit" class="moveUpButton" name="rowUp"
                        th:value="${selStat.count}" value="Row Up">Row Up</button>
                <button type="submit" class="moveDownButton" name="rowDown"
                        th:value="${selStat.count}" value="Row Down">Row Down</button>
                <button type="submit" class="removeButton" name="removeRow"
                        th:value="${selStat.count}" value="Remove Row">Remove Row</button>
            </div>
        </div>
        <button type="submit" name="addRow" value="Add Selection">Add Selection</button>
        <button type="submit" value="Create Slate">Create Slate</button>
    </form>
    </div>
</body>
</html>