<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Slates</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/css/general.css" rel="stylesheet"></link>
</head>
<body>
    <div th:replace="navbar"></div>
    <div class="container">
        <div th:each="slate: ${slates}">
            <p th:text="${slate.topic}">topic</p>
            <p th:inline="text">Created by [[${slate.creator}]] on [[${slate.dateCreated}]]</p>
            <!--<p th:text="${slate.creator}">creator</p>
            <p th:text="${slate.dateCreated}">createDate</p> -->
            <div th:each="selection: ${slate.selections}">
                <p class="selectionName" th:text="${selection.name}">name</p>
                <p class="selectionDesc" th:text="${selection.description}"></p>
                <!-- <p th:text="${selection.position}">position</p> -->
            </div>
            <a th:href="@{/slate/show/{slateID}(slateID=${slate.id})}" href="#">View this Slate</a>
        </div>
    </div>

</body>
</html>