<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View Slate</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/css/general.css" rel="stylesheet"></link>
</head>
<body>
    <div th:replace="navbar"></div>
    <h1>Results of voting on <span th:text="${slate.topic}">breakfast??</span></h1>
    <h3>Single Choice Voting (First Past the Post)</h3>
    <ol>
        <li th:each="selection : ${slate.selections}">
            <p><span th:text="${selection.name}"></span>, <span th:text="${FPTP.get(selection)}"></span> votes</p>
        </li>
    </ol>
    <h3>Ranked Choice Voting Methods</h3>
    <h4>Instant Runoff</h4>
    <div class="irvRound" th:each="roundResult : ${irvResults.roundResults}">
        <!-- <span th:text="${roundResult}"></span> -->

        <h6>Round: <span th:text="${roundResult.round}"></span></h6>
        <p>Possible Selections:
            <span th:each="selection, selStat:${roundResult.remainingSelections}">
                <span th:text="${selStat.last} ? ${selection.name} : ${selection.name} + ','"></span>
            </span>
        </p>

        <div class="littleResultsBox" th:each="selection : ${roundResult.remainingSelections}" th:with="count=${roundResult.allResults.get(selection)}">
            <p><span th:text="${selection.name}"></span>: <span th:text="${count.count}"></span> votes, <span th:text="${count.percentage}"></span> of total</p>
        </div>
        <div th:switch="${roundResult.winner}">
            <div th:case="${null}">
                <p>No winner, loser <span th:text="${roundResult.lowest.selection.name}"></span> will be removed from next round.</p>
            </div>
            <div th:case="*">
                <p><span th:text="${roundResult.winner.selection.name}"></span> is the winner!</p>
            </div>
        </div>
    </div>
    <h4>Coombs Method</h4>
    <div class="coombsRound" th:each="roundResult : ${coombsResults.roundResults}">
        <h6>Round: <span th:text="${roundResult.round}"></span></h6>
        <p>Possible Selections:
            <span th:each="selection, selStat:${roundResult.remainingSelections}">
                <span th:text="${selStat.last} ? ${selection.name} : ${selection.name} + ','"></span>
            </span>
        </p>
        <p>First Place Votes:</p>
        <div class="littleResultsBox" th:each="resultCount : ${roundResult.firstPlaceVotes}">
            <p><span th:text="${resultCount.selection.name}"></span>: <span th:text="${resultCount.count}"></span> votes,
            <span th:text="${resultCount.percentage}"></span> of the total</p>
        </div>
        <div th:switch="${roundResult.winner}">
            <div th:case="${null}"><p>No Winner</p></div>
            <div th:case="*">
                <p><span th:text="${roundResult.winner.selection.name}"></span> is the winner!</p>
            </div>
        </div>
        <p>Last Place Votes:</p>
        <div class="littleResultsBox" th:each="resultCount : ${roundResult.lastPlaceVotes}">
            <p><span th:text="${resultCount.selection.name}"></span>: <span th:text="${resultCount.count}"></span> votes,
                <span th:text="${resultCount.percentage}"></span> of the total</p>
        </div>
        <div th:switch="${roundResult.winner}">
            <div th:case="${null}">
                <p><span th:text="${roundResult.loser.selection.name}"></span> is the loser, and will be removed for next round.</p>
            </div>
            <div th:case="*"></div>
        </div>
    </div>
    <h4>Copeland Method</h4>
    <h6>Comparisons</h6>
    <div class="comparisonRoundData" th:each="compResult : ${copelandResults.comparisonResults}">
        <p th:text="|${compResult.comp1.name} (${compResult.comp1Count}) vs ${compResult.comp2.name} (${compResult.comp2Count})|"></p>
    </div>
    <h6>Selection Results</h6>
    <div class="selectionRoundData" th:each="roundResult : ${copelandResults.selectionResults}">
        <p th:text="|${roundResult.selection.name}: ${roundResult.wins} wins, ${roundResult.losses} losses, ${roundResult.ties} ties. Net Result: ${roundResult.net} |"></p>
    </div>
    <h4>Borda Counts</h4>
    <h6>Base 1 Count</h6>
    <div class="selectionComparisonData" th:each="selectionResult : ${bordaBase1.selectionResults}">
        <p th:text="|${selectionResult.selection.name} Total Score: ${selectionResult.totalScore}|"></p>
        <div class="sideStack" th:each="rank : ${selectionResult.rankCounts.keySet()}">
            <span th:text="|Ranking: ${rank}, Count: ${selectionResult.rankCounts.get(rank)}|"></span>
        </div>
    </div>
    <h6>Base 0 Count</h6>
    <div class="selectionComparisonData" th:each="selectionResult : ${bordaBase0.selectionResults}">
        <p th:text="|${selectionResult.selection.name} Total Score: ${selectionResult.totalScore}|"></p>
        <div class="sideStack" th:each="rank : ${selectionResult.rankCounts.keySet()}">
            <span th:text="|Ranking: ${rank}, Count: ${selectionResult.rankCounts.get(rank)}|"></span>
        </div>
    </div>
    <h6>Dowdall Count</h6>
    <div class="selectionComparisonData" th:each="selectionResult : ${bordaDowdall.selectionResults}">
        <p th:text="|${selectionResult.selection.name} Total Score: ${selectionResult.totalScore}|"></p>
        <div class="sideStack" th:each="rank : ${selectionResult.rankCounts.keySet()}">
            <span th:text="|Ranking: ${rank}, Count: ${selectionResult.rankCounts.get(rank)}|"></span>
        </div>
    </div>
</body>
</html>